* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.card {
    background-color: hsl(244, 38%, 16%);
    width: 325px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.img-filter {
    width: 325px;
    height: 235px;
    position: relative;
    background: linear-gradient(rgba(94, 12, 145, 0.6), rgba(94, 12, 145, 0.6)), url(images/image-header-mobile.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.75rem;
    margin: 1.5rem 1.5rem 0;
    padding: 0.5rem;
}

.description {
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0 1.5rem;
    line-height: 1.75;
    padding: 0.5rem;
}

.statistics {
    margin: 1.75rem;
}

.stats {
    margin: 2rem 1.4rem;
}

.statHeading {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.stats-word{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    margin: 0.5rem;
    font-size: 12px;
    letter-spacing: 1px;
}

.purple {
    color: hsl(277, 64%, 61%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: aliceblue;
    margin: 2rem;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
    color: aliceblue;
  }


/* LARGE SCREEN */
@media screen and (min-width: 1100px) {
    .card {
        margin-top: 9rem;
        width: 1200px;
        height: 500px;
        display: flex;
        flex-direction: row-reverse;
        flex-shrink: 1;
    }

    .img-filter {
        display: none;
    }

    .desktop-img {
        background: linear-gradient(rgba(94, 12, 145, 0.6), rgba(94, 12, 145, 0.6)), url(images/image-header-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-left: 6rem;
        border-radius: 0 10px 10px 0;
    }

    .main {
        width: 100;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 5rem;
    }

    h1 {
        margin: 4rem 4rem 1rem;
        text-align: start;
        font-size: 2rem;
    }

    .description {
        margin: 0 4rem;
        font-size: 16px;
        text-align: left;
    }

    .statistics {
        margin: 5rem 4rem 4rem;
        display: flex;
    }

    .stats {
        margin: 0 3rem 0 0;
    }
}




